.App {
  background-color: rgb(0, 38, 95);
  background-image: url('./assets/HomeBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  margin: 0%;
  padding: 0%;
}