.footerParent {
    padding-bottom: 1%;
}

.MDBParent {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    /* height: 80vh; */

    margin: 6% 1%;
    margin-bottom: 0%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.socialIcons {
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.0) !important;
    transition-duration: 0.3s;
    /* #209CEE */

    font-size: 1.2em;
}

.socialIcons:hover {
    /* color: white !important; */
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.inputBox {
    color: black !important;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.products:hover{
    transition-delay: 0.5;
    text-decoration: underline !important;
}
.usefulLinks:hover{
    transition-delay: 0.5;
    text-decoration: underline !important;
}

.galleryPics{
    height: 100px;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .inputBox {
        width: 50%;
        margin: auto;
    }
}