body
{
    padding: 0;
    /* margin: 0; */
    
    /* background-image: url("/Colour Wheel.jpeg"),url("/Gaming\ DP\(jpg\).jpg"); */
    /* height: 5px,5px; */
    /* background-position: center; */
    /* background-color: black;
    background-repeat: no-repeat, repeat; */
    /* background-blend-mode:difference; */
    /* background-size: cover,cover; */
}

#div1
{
    /* background-color: blue; */
    background-color: rgba(255, 0, 0,0.6);
    width: 50%;
    /* width: 50vw; */
    /* height: 50vh; */
}

#p1
{
    background-color: green;
    /* width: 50%; */
    width: 50vw;
}

/* 
!Note:    
No need of vw since goes outside all parents including body
*/

img
{
    height:200px;
    width:200px;
    border: 5px dashed black;
    transition: height 2s, width 2s;
}
img:hover
{
    height: 300px;
    width: 300px;
    cursor: pointer;
    box-shadow: 10px 10px 30px 3px #161616; /*3rd is blur*/
}

#div2
{
    background-color: blue;
    /* transition: margin-right 4s; */
    transition: width 4s 2s ease-in-out;
    
}

#div2:hover
{
    background-color: blue;
    width:50%;
}

#head32
{
    transition: color .3s .15s ease-in;
    transition: font-size 4s 1s;
    width:50%;
    font-size: 1em;
}

#head32:hover
{
    color: #0799d3;
    font-size: 2em;
}

#div3
{
    background-color:green;
    transition: transform 1s;
    width:50%;
    text-align: center;
}

#div3:hover
{
    transform:rotate(2880deg);
    /* width:100%; */
}
