.profileParent {
    width: 75%;
    margin: auto;

    margin-top: 3%;

    background-color: rgba(255, 255, 255, 0.45) !important;
    backdrop-filter: blur(5px);
    border-radius: 10px 10px 10px 10px;
    padding: 2%;
}

.errorMessages {
    color: red;
    font-weight: bold;

    margin: 0%;
    padding: 0%;
}